@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

.section-3{
    max-width: 100%;
    height: auto;
    background-color: rgb(243, 250, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    overflow: hidden;
}

.section-3-1{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .section-3-1-img{
      height: 70vh;
      background-image: url("charity.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(0rem);
      opacity: 0.8;
      -webkit-filter: blur(0rem);
      z-index: -100;
  } */


  .section-3-1-title{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 60px;
    color: #000;
  }

  .section-3-1-title::before{
    content: '';
    background: #a0a029;
    height: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(70px);
}

.section-3-1-title::after{
    content: '';
    background: #a0a029;
    height: 10px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(-10px);
}

.section-3-1-btns{
    border: 1px solid #a8a8a4;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #a8a8a4;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.section-3-1-btn{
    font-family: 'Fuzzy Bubbles', cursive;
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(191, 191, 63);
    width: 20rem;
    padding: 2rem;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

  .section-3-1-btn:hover{
      background-color: #a0a029;
  }

.section-2-text{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.5rem;
}

.division-main-title{
    text-align: center;
}

.section-3-divisions{
    display: flex;
   justify-content: space-evenly;   
}

.division-1, .division-2, .division-3{
    margin: 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.division-main-title{
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 4rem 8rem;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color:rgba(250, 244, 244, 0.6);
    border: 1px solid rgba(15, 15, 15, 0.6);
    padding: 1rem 2rem;
    background-color: #2e2f2f;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px #000000;
}

.paragraph, .header{
    margin-bottom: 2rem;;
}

.division-title{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}
.division-text{
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}

.paragraph-title{
    font-family: 'Fuzzy Bubbles', cursive;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color:rgb(191, 191, 63);
    font-weight: bold;
}

.paragraph-text{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}

.division-img{
    width: 25rem;
    height: 25rem;
    margin-bottom:5rem;
    border-radius: 50%;
}

.donate-btn{
    text-decoration: none;
    color: #fff;
}

.donate-btn:hover{
    text-decoration: none;
    color: #fff;
}